<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="src/style.scss">
        <link rel="stylesheet" href="src/mypage.scss">
        <link rel="stylesheet" href="src/challenge.scss">
    </head>
    <body>
        <div id="navbar-placeholder"></div>
        <div id="mypage-controller">
            <h1 class="mypage-title">챌린지 상세정보</h1>
            <div class="mypage-button-group mb-6" style="margin-left: 48%;">
                <div class="vr"></div>
                <a href="/" class="btn btn-back">메인으로 돌아가기</a>
            </div>
        </div>
        <hr class="line">
        <div id="challenge-detail">
            <div class="col-auto challenge-title">
                <h3>{{챌린지_제목}}</h3>
            </div>
            <hr class="line">
            <div class="challenge-writing-info">
                <span class="writing-date">작성 {{챌린지_작성일}}</span>
                <div class="challenge-writer">
                    <span>{{챌린지_작성자}}</span>
                    <img class="profile-img" src="{{챌린지_작성자_프로필}}" alt="작성자 프로필 이미지">
                </div>
                <div class="side-items">
                    <div class="challenge-cheer">
                        <i class="bi bi-fire" data-id="{{챌린지_ID}}"></i>
                        <span>{{챌린지_응원수}}</span>
                    </div>
                    <i class="challenge-share bi bi-share" data-id="{{챌린지_ID}}"></i>
                </div>
            </div>
            <div class="challenge-main">
                <img class="challenge-image" src="{{챌린지_아이콘}}" alt="챌린지 이미지 1">
                <div class="challenge-desc">{{챌린지_설명}}</div>
            </div>
            <div class="challenge-bottom">
                <div class="challenge-hashtag">
                    {% for tag in 챌린지_태그 %}
                        <span class="hashtag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <div class="vr"></div>
                <div class="challenge-info">
                    <span>참여 기한 : {{챌린지_시작기한}} ~ {{챌린지_종료기한}}</span>
                    <span>현재 참여 인원 : {{ 챌린지_참여자|length }} 명</span>
                </div>
            </div>
            <hr class="line">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="challenge_input">
                <label class="input-group-text" for="challenge_input">챌린지 참여하기</label>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 challenge-participants">
                {% for i in 챌린지_참여자 %}
                    <div class="card col">
                        <img src="{{i['파일']}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{i["이름"]}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer"></div>
        <script type="module" src="src/main.ts"></script>
        <script type="module" src="src/challenge.ts"></script>
        <script type="module" src="src/join_challenge.ts"></script>
    </body>
</html>