.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 543px;

    .input-group {
        margin-top: 10px;
        width: 50%;
    }

    #todayis {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(10px, 3vw, 30px);
        line-height: 36px;
        letter-spacing: 0.03em;

        color: #4A4A4A;
        text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);

    }

    #title{
        font-family: 'Italianno';
        font-style: normal;
        font-weight: 400;
        font-size: clamp(20px, 15vw, 120px);
        line-height: 150px;
        /* identical to box height */
        letter-spacing: 0.03em;

        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        span:nth-child(1) {
            color: #26AD00;
        }
        span:nth-child(2) {
            color: #FFD500;
        }
    }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;

    .challenge-buttons-row {
        display: flex;
        gap: 40px;

        .challenge-btn {
            display: flex;
            flex-direction: column;
            align-items: center;

            .challenge-btn-img {
                /* 챌린지 만들기 */
                width: 75%;
                margin: auto;
                display: block;
                
                box-sizing: border-box;
                border: 1px solid #000000;
                border-radius: 20px;
            }

            .challenge-btn-label {
                font-family: 'Inter', sans-serif;
                font-size: clamp(10px, 2vw, 25px); // 최소 16px, 최대 25px, 뷰포트에 따라 자동 조정
                font-weight: 300;
                color: #000;
                text-align: center;
                margin-top: 15px;
            }
        }
    }
}
