// Figma 마이페이지 상단바 스타일
#mypage-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #ffffff;
    box-sizing: border-box;

    .mypage-title {
        /* 마이 페이지 */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 73px;
        /* identical to box height */

        color: #000000;

        text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .mypage-button-group {
        display: flex;
        flex-direction: row; // 가로 정렬
        gap: 16px;           // 버튼 사이 간격(원하는 값으로 조정)

        margin-top: 27px;
        margin-left: 25%;

        .btn-mypage-controller {
            font-family: Inter, sans-serif;
            font-size: 18px;
            font-weight: 600;

            height: 65px;
            border: 0.5px solid #000;
            border-radius: 100px;
            padding: 5px 26px;

            background: #ffffff;
            color: #000;

            display: flex;               // 추가
            align-items: center;         // 추가
            justify-content: center;     // 추가

            &:hover {
                background: #14A700;
                color: #ffffff;
                border: none;
            }
        }

        .btn-back{
            font-family: Inter, sans-serif;
            font-size: 18px;
            font-weight: 600;

            height: 65px;
            border-radius: 100px;
            padding: 5px 26px;

            background: #0043B0;
            color: #FFFFFF;

            display: flex;               // 추가
            align-items: center;         // 추가
            justify-content: center;     // 추가
        }
    }
}

.mypage-info-title{
    /* 내 정보 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03em;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 15px;
}

.mypage-content {
    display: flex;
    justify-content: center;
    width: 100%;

    .mypage-info-container {
        display: flex;
        width: 1440px;
        height: 695px;
        position: relative;
        padding: 30px;

        .profile-section {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin-left: 11%;
            flex-direction: column;

            .profile-image {
                width: 350px;
                height: 350px;
                background: #D9D9D9;
                border-radius: 50%;
                margin-top: 143px;
                border: 0.5px solid #000000
            }
        }

        .info-section {
            border-left: 1px solid #000000;
            padding: 20px 50px;
            margin-left: 50px;

            .user-name {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 40px;
                line-height: 1.21em;
                margin-top: 120px;
            }

            .user-email {
                font-family: 'Inter';
                font-weight: 200;
                font-size: 30px;
                line-height: 1.21em;
                margin-top: 35px;
            }

            .user-role,
            .challenge-count {
                font-family: 'Inter';
                font-weight: 200;
                font-size: 30px;
                line-height: 1.21em;
                letter-spacing: 5%;
                margin-top: 27px;
            }

            .join-date {
                font-family: 'Inter';
                font-weight: 300;
                font-size: 30px;
                line-height: 1.21em;
                letter-spacing: 5%;
                color: #6F6F6F;
                margin-top: 60px;
            }
        }

        .button-section {
            position: absolute;
            right: 20px;
            bottom: 20px;
            display: flex;
            gap: 20px;
        }
    }
}

#my-footprint {
    h2{
        /* 나의 발자국 */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.03em;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;

        margin-left: 5%;
        margin-top: 50px;
        margin-bottom: 15px;
    }
}

.btn-mypage-info{
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;

    height: 65px;
    border-radius: 100px;
    padding: 5px 26px;

    background: #DEDEDE;
    color: #000000;

    display: flex;               // 추가
    align-items: center;         // 추가
    justify-content: center;     // 추가

    &:hover {
        background: #009dff;
        color: #ffffff;
    }
}

.goal-card {
    width: 400px;
    height: 250px;
    padding: 20px 45px;
    background-image: url('images/goal_card.png'); /* 이미지 파일 경로 */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    box-sizing: border-box;
    position: absolute;
}

.goal-title {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 10px;
}

.goal-content {
    font-size: 24px;
    margin-top: 10px;
}