@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Rhodium+Libre&display=swap');

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #50586C;
    padding: 0;

    .input-group {
        margin-top: 10px;
        width: 50%;
    }

    #todayis {
        font-size: 30px;
        color: #fff;
        font-weight: 900;
        text-align: center;
        margin-bottom: 80px;
        text-shadow: 2px 2px 8px #222;
    }

    #title{
        font-family: 'Italianno';
        font-style: normal;
        font-size: 120px;
        /* identical to box height */
        letter-spacing: 0.03em;
        margin-bottom: 40px;
        text-align: center;

        span:nth-child(1) {
            color: #26AD00;
        }
        span:nth-child(2) {
            color: #FFD500;
        }
    }
}

.navbar {
    background-color: #D5D5D5;
    display: flex;
    justify-content: flex-end;

    .btn {
        margin-right: 3%;
    }
}