@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Rhodium+Libre&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body{
    background: #FCF6F5;
}

.navbar {
    background-color: #D5D5D5;
    display: flex;
    justify-content: flex-end;

    .btn {
        margin-right: 2%;
    }
}

.Line {
    width: 254px;
    height: 0px;

    border: 0.7px solid rgba(0, 0, 0, 0.5);
    transform: rotate(89.77deg);

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    bottom: 0;
    
    p {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        line-height: 1.5;
        color: #ccc;
    }

    p:first-child {
        font-size: 1.1rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 1rem;
    }

    a {
        color: #2BAE66;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #0ad3ab;
            text-decoration: underline;
        }
    }
}